{
  "Version": 1,
  "WorkspaceRootPath": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\",
  "Documents": [
    {
      "AbsoluteMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|c:\\users\\ruan\\onedrive\\documents\\belgium campus\\thor help\\vis prj 281 taak\\vis\u0026biancaprg281taak\\presentation\\presenter.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|solutionrelative:presentation\\presenter.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|c:\\users\\ruan\\onedrive\\documents\\belgium campus\\thor help\\vis prj 281 taak\\vis\u0026biancaprg281taak\\program.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|solutionrelative:program.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|c:\\users\\ruan\\onedrive\\documents\\belgium campus\\thor help\\vis prj 281 taak\\vis\u0026biancaprg281taak\\bussiness\\logic.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|solutionrelative:bussiness\\logic.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|c:\\users\\ruan\\onedrive\\documents\\belgium campus\\thor help\\vis prj 281 taak\\vis\u0026biancaprg281taak\\data\\datahandeler.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|solutionrelative:data\\datahandeler.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|c:\\users\\ruan\\onedrive\\documents\\belgium campus\\thor help\\vis prj 281 taak\\vis\u0026biancaprg281taak\\data\\scheduledata.txt||{8B382828-6202-11D1-8870-0000F87579D2}",
      "RelativeMoniker": "D:0:0:{B0D9DDEA-2EED-4A51-A1D2-81AF0E71B883}|Vis\u0026BiancaPRG281Taak.csproj|solutionrelative:data\\scheduledata.txt||{8B382828-6202-11D1-8870-0000F87579D2}"
    }
  ],
  "DocumentGroupContainers": [
    {
      "Orientation": 0,
      "VerticalTabListWidth": 256,
      "DocumentGroups": [
        {
          "DockedWidth": 200,
          "SelectedChildIndex": 3,
          "Children": [
            {
              "$type": "Document",
              "DocumentIndex": 4,
              "Title": "ScheduleData.txt",
              "DocumentMoniker": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Data\\ScheduleData.txt",
              "RelativeDocumentMoniker": "Data\\ScheduleData.txt",
              "ToolTip": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Data\\ScheduleData.txt",
              "RelativeToolTip": "Data\\ScheduleData.txt",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.003109|",
              "WhenOpened": "2025-08-19T17:45:32.873Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 2,
              "Title": "Logic.cs",
              "DocumentMoniker": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Bussiness\\Logic.cs",
              "RelativeDocumentMoniker": "Bussiness\\Logic.cs",
              "ToolTip": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Bussiness\\Logic.cs",
              "RelativeToolTip": "Bussiness\\Logic.cs",
              "ViewState": "AgIAAB8AAAAAAAAAAAAUwDYAAAAuAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2025-08-19T17:06:56.193Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 3,
              "Title": "DataHandeler.cs",
              "DocumentMoniker": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Data\\DataHandeler.cs",
              "RelativeDocumentMoniker": "Data\\DataHandeler.cs",
              "ToolTip": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Data\\DataHandeler.cs",
              "RelativeToolTip": "Data\\DataHandeler.cs",
              "ViewState": "AgIAABYAAAAAAAAAAAAgwB8AAAAaAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2025-08-19T17:06:27.479Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 0,
              "Title": "Presenter.cs",
              "DocumentMoniker": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Presentation\\Presenter.cs",
              "RelativeDocumentMoniker": "Presentation\\Presenter.cs",
              "ToolTip": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Presentation\\Presenter.cs",
              "RelativeToolTip": "Presentation\\Presenter.cs",
              "ViewState": "AgIAAHkBAAAAAAAAAAAqwH0BAAA6AAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2025-08-19T17:06:49.175Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 1,
              "Title": "Program.cs",
              "DocumentMoniker": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Program.cs",
              "RelativeDocumentMoniker": "Program.cs",
              "ToolTip": "C:\\Users\\Ruan\\OneDrive\\Documents\\Belgium Campus\\Thor Help\\Vis PRJ 281 taak\\Vis\u0026BiancaPRG281Taak\\Program.cs",
              "RelativeToolTip": "Program.cs",
              "ViewState": "AgIAAAkAAAAAAAAAAAAkwCIAAAAAAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2025-08-19T16:49:36.605Z",
              "EditorCaption": ""
            }
          ]
        }
      ]
    }
  ]
}